.headerone {
    font-size: 42px;
    font-weight: 800;
    line-height: 56px;
    color: var(--text-text-primary, #222);
    margin-top: 28px;
    margin-bottom: 28px;
}

.smallreplacement {
    font-size: 13px;
}

.headerthree {
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 18px;
}

.headerthreefirst {
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 18px;
}

.headerthreefirst > span {
    vertical-align: sub;
}

.headerthreefirst + span {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
}

.headerthreefirst + span > span {
    font-weight: bold;
}

.headerthreesecond {
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 18px;
}

.headerthreesecond > span {
    vertical-align: super;
}

.headerthreesecond + span {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
}

.headerthreesecond + span > span:first-child {
    quotes: '"' '"' "'" "'";
}

.headerthreesecond + span > span:first-child::before {
    content: open-quote;
}

.headerthreesecond + span > span:first-child::after {
    content: close-quote;
}

.headerthreesecond + span > span:nth-child(2) {
    font-style: italic;
}

.headerthreesecond + span > span:nth-child(3) {
    quotes: '"' '"' "'" "'";
}

.headerthreesecond + span > span:nth-child(3)::before {
    content: open-quote;
}

.headerthreesecond + span > span:nth-child(3)::after {
    content: close-quote;
}

.headerthreesecond + span > span:nth-child(4) {
    quotes: '"' '"' "'" "'";
}

.headerthreesecond + span > span:nth-child(4)::before {
    content: open-quote;
}

.headerthreesecond + span > span:nth-child(4)::after {
    content: close-quote;
}

.headerthreesecond + span > span:nth-child(5) {
    text-decoration: line-through;
}

.headerfive {
    font-size: 13px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 22px;
    color: var(--text-text-primary, #222);
}

.headerfive > span:first-child {
    font-style: italic;
}

.listelementreplacement {
    display: list-item;
    list-style: square;
    list-style-position: inside;
}
