.first-table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.first-table > tr > td {
  padding: 5px;
  border: 1px solid #ccc;
}

.first-table > tr > th {
  padding: 5px;
  border: 1px solid #ccc;
}

.first-table > tr:nth-child(2n){
  background-color: #f1e8e8;
}

.acetone-table {
  list-style-type: lower-latin;
}