.div_nr1 {
  margin: 20px 20px 15px 30px;
  border: 2px solid slateblue;
  padding: 20px 20px 15px 30px;
  background: darkorange;
  box-sizing: content-box;
  width: 200px;
}

.div_nr2 {
  margin: 20px 20px 15px 30px;
  border: 2px solid slateblue;
  padding: 20px 20px 15px 30px;
  background: darkorange;
  box-sizing: border-box;
  width: 200px;
}

.p_nr1 {
  background-color: darkcyan;
}

.p_nr2 {
  background-color: darkorange;
}

.p_nr3{
  background-color: darkgoldenrod;
  display: inline;
}

.p_nr4 {
  background-color: red;
  display: block;
  height: 60px;
}

.span_nr1 {
  display:block;
}

.div_nr3 {
  background-color: bisque;
  border: 2px solid gold;
  max-width: 100px;
  max-height: 250px;
  /* Overflow - Scrollowanie*/
  overflow: scroll;
}

.em{
  background-color: darkgoldenrod;
  box-sizing: content-box;
  height: 50px;
  font-size: 2em;
}

.rem{
  background-color: darkgoldenrod;
  display: inline;
  font-size: 2rem;
}