.moleGameWrapper {
    font-family: 'Montserrat',  sans-serif;
    margin: 24px;
}

.moleGame {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.informationBoard {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 38px;
}
.informationBoard > div {
    height: 56px;
    font-weight: 800;
}

.playingBoard {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
}

.arrayRowOfButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 3px;
}

.button_game {
    font-family: 'Montserrat',  sans-serif;
    width: 163px;
    height: 56px;
    font-size: 18px;
    line-height: 31px;
    border-radius: 8px;
    background-color: #23213D;
    color: #fff;
    border-color: #23213D;
}

.button_game_highlighted {
    font-family: 'Montserrat',  sans-serif;
    width: 163px;
    height: 56px;
    font-size: 18px;
    line-height: 31px;
    border-radius: 8px;
    background-color: #FE3756;
    color: #fff;
    border-color: #FE3756;
}

.div_gray {
    font-family: 'Montserrat',  sans-serif;
    width: 163px;
    height: 56px;
    font-size: 18px;
    line-height: 31px;
    border-radius: 8px;
    background-color: #EBEBEB;
    color: #000000;
    border-color: #EBEBEB;
    -webkit-box-shadow: 6px 7px 20px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 6px 7px 20px -4px rgba(66, 68, 90, 1);
    box-shadow: 6px 7px 20px -4px rgba(66, 68, 90, 1);
}

.div_gray > span {
    display: block;
    padding-top: 12px;
    padding-left: 64px;
}

.div-of-boxes {
    display: flex;
    gap: 8px;
}

.screen-two-box {
    width: 100px;
    height: 100px;
    background: #EBEBEB;
    border-radius: 8px;
}

.screen-two-box > :first-child {
    margin-top: 16px;
    margin-left: 4px;
}
