.blog-whole {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-family: 'Montserrat',  sans-serif;
}

.post-in-my-blog-1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 45px;
    padding-right: 61px;
    padding-bottom: 45px;
    padding-left: 61px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #23213D;
}

.post-in-my-blog-1 > h1 {
    color: #FFF;
    font-size: 42px;
    font-weight: 800;
    line-height: 56px;
}

.post-in-my-blog-1 > :first-child {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-1 > :nth-child(3) {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-1 > :nth-child(4) {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-1 > :last-child {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 45px;
    padding-right: 61px;
    padding-bottom: 45px;
    padding-left: 61px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
}

.post-in-my-blog-2 > h1 {
    color: var(--text-text-primary, #222);
    font-size: 42px;
    font-weight: 800;
    line-height: 56px;
}

.post-in-my-blog-2 > :nth-child(3) {
    color: var(--text-text-primary, #222);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    font-style: italic;
}

.post-in-my-blog-2 > :nth-child(3) > span {
    text-align: right;
    display: block;
    font-style: normal;
    font-weight: bold;
}

.post-in-my-blog-2 > :last-child {
    color: var(--text-text-primary, #222);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 45px;
    padding-right: 61px;
    padding-bottom: 45px;
    padding-left: 61px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 65px 30px 0px rgba(0, 0, 0, 0.01), 0px 8px 20px 0px rgba(0, 0, 0, 0.04), 0px 17px 35px 0px rgba(0, 0, 0, 0.05), 0px -4px 26px 0px rgba(0, 0, 0, 0.08); 
}

.post-in-my-blog-3 > :nth-child(3) {
    color: var(--text-text-primary, #222);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-3 > :nth-child(4) {
    color: var(--text-text-primary, #222);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.post-in-my-blog-3 > :nth-child(4) > li:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.post-in-my-blog-3 > :nth-child(4) > li:nth-child(2) {
    font-weight: bold;
    text-decoration: underline;
}

.post-in-my-blog-3 > :nth-child(4) > li:last-child {
    text-decoration: underline;
}

.post-in-my-blog-3 > h1 {
    color: var(--text-text-primary, #222);
    font-size: 42px;
    font-weight: 800;
    line-height: 56px;
}

.post-in-my-blog-3 > :last-child {
    color: var(--text-text-primary, #222);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}